// options
configuration {
	modes: "drun,window,run";
	font: "mononoki 18";
	case-smart: true;
	matching: "fuzzy";
	transparency: "real";
	// remove that ugly dotted border below inputbar
	separatorcolor: transparent;

	// keybinds
	kb-element-next: "";
	kb-remove-to-eol: "";
	kb-remove-to-sol: "";

	kb-accept-entry: "Return";
	kb-mode-next: "Tab";
	kb-mode-previous: "Control+Tab";
	kb-row-up: "Control+k";
	kb-row-down: "Control+j";
}

// variables 
* {
	bg-clr: #08080890;
	fg-clr: #bdbdbd90;

	active-bg-clr: @fg-clr;
	active-fg-clr: @bg-clr;
	
	md-spacing: 16px;
}

// theme
window {
	background-color: @bg-clr;
	padding: 300px 600px;
	width: 640px;
	fullscreen: true;
}
inputbar {
	children: [ "prompt", "entry" ];
	margin: 0 0 10px 0;
}
prompt {
	margin: 0 10px 0 0;
}
textbox-prompt-colon {
	enabled: false;
}
entry {
	placeholder: "app name";
}
prompt, 
entry {
	text-color: @fg-clr;
}
listview {
	scrollbar: false;
	lines: 10;
	border: 1px;
	border-color: @fg-clr;
	padding: 0;
	fixed-height: true;
}
element {
	padding: 5px 10px;
}
element normal.normal, 
element alternate.normal {
	background-color: transparent;
	text-color: @fg-clr;
}
element selected.normal {
	background-color: @active-bg-clr;
	text-color: @active-fg-clr;
}
