// options
configuration {
	modes: "drun,window,run";
	font: "mononoki 18";
	case-smart: true;
	matching: "fuzzy";
}

// variables 
* {
	bg-clr: #080808;
	fg-clr: #bdbdbd;

	active-bg-clr: @fg-clr;
	active-fg-clr: @bg-clr;
	
	md-spacing: 16px;

	// remove that ugly dotted border below inputbar
	separatorcolor: transparent;
}

// theme
window {
	background-color: @bg-clr;
	padding: 300px 600px;
	width: 640px;
	fullscreen: true;
}
inputbar {
	margin: 0 0 10px 0;
}
prompt {
	margin: 0 10px 0 0;
}
textbox-prompt-colon {
	enabled: false;
}
entry {
	placeholder: "";
}
prompt, 
entry {
	text-color: @fg-clr;
}
listview {
	scrollbar: false;
	lines: 10;
}
element normal.normal, 
element alternate.normal {
	background-color: @bg-clr;
	text-color: @fg-clr;
}
element selected.normal {
	background-color: @active-bg-clr;
	text-color: @active-fg-clr;
}
